<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="head" th:include="head :: head-main"/>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header id="header" class="masthead mb-auto" th:include="header :: header-menu" />

    <main role="main" class="inner cover">
        <div class="col-md-12 order-md-1">
            <div class="mb-3">
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>Something's gone wrong.</code></label>
                    <label class="col-md-12"><a th:href="@{/links}">Go to Home page.</a></label>>
                </div>
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Create by <a href="https://www.linkedin.com/in/radoslaw-gorniak-b6b4b2172/">RadosławGórniak</a>, code in
                <a href="https://gitlab.com/RadoslawGorniak/linkshortener">GitLab</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>