<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-main">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <meta name="description" content="LinkShootener - create simpler links">
        <meta name="author" content="RadoslawGorniak">
        <link rel="icon" href="../../favicon.ico"/>

        <title>Navbar Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.css}"/>
        <link  rel="stylesheet" th:href="@{/css/cover.css}" type="text/css">
        <link  rel="stylesheet" th:href="@{/css/form-validation.css}"
               type="text/css">
        <script th:inline="javascript">
        (function () {
  'use strict'
  window.addEventListener('load', function () {
    var forms = document.getElementsByClassName('needs-validation')
    Array.prototype.filter.call(forms, function (form) {
      form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  }, false)
}())
    </script>
</head>
</html>