
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="head" th:include="head :: head-main"/>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header id="header" class="masthead mb-auto" th:include="header :: header-menu" />

    <main role="main" class="inner cover">
        <div class="col-md-12 order-md-1">
            <div class="mb-3">
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>Link not found</code></label>
                    <label class="col-md-12"><a th:href="@{/links}">Given link doesn't exist. Make sure the link is correct.</a></label>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer" class="mastfoot mt-auto" th:include="footer :: footer-contact"/>
</div>
</body>
</html>