
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="head" th:include="head :: head-main"/>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header id="header" class="masthead mb-auto" th:include="header :: header-menu" />

    <main role="main" class="inner cover">
        <div class="col-md-12 order-md-1">
            <div class="mb-3">
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>The link</code></label>
                    <label class="col-md-12"><a th:href="${#strings.replace(#httpServletRequest.requestURL,'/details','')}"
                          th:text="${#strings.replace(#httpServletRequest.requestURL,'/details','')}">link</a></label>
                </div>
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>Destination</code></label>
                    <label class="col-md-12"><a th:href="${linkDto.destination}" target="_blank" th:text="${linkDto.destination}">www.google.pl</a></label>
                </div>
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>Visits</code></label>
                    <label class="col-md-12"><span th:text="${linkDto.visitCount}">12</span></label>
                </div>
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><code>Created</code></label>
                    <label class="col-md-12"><span th:text="${#temporals.format(linkDto.dateCreated, 'dd-MM-yyyy')}">05.12.2019</span></label>
                </div>
                <div class="text-center mb-4">
                    <label class="col-md-12 h1 mb-3 font-weight-bold"><a th:href="@{/links/{linkName}/removing(linkName=${linkDto.linkName})}">Remove</a></label>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer" class="mastfoot mt-auto" th:include="footer :: footer-contact"/>
</div>
</body>
</html>